.mainContainer
{
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    width: 800px;
    height: 800px;
}

.group
{
    display: flex;
    justify-content: center;
    flex: 1;
}

.grid
{
    background-color: black;
    flex: 1;
}

